%% -*- erlang -*-
[
 %% Add our own app(s)
 {add_apps, [exoskeleton]},
 %% Tell exoport where to find our config file
 {env,
  [{exoport,
    [
     {config, filename:join(CWD, "exoport.config")}
    ]}
  ]},
 %% Put include after settings that you think should override any defaults
 {include_lib, "exoport/priv/setup.config"}
].
